# Node dependencies
secretless-api/node_modules/

# Generated deployment packages
*.zip

# Local env files
.env
.env.*

# Generated frontend config (contains live client IDs; re-created by deploy)
portal-secretless/config.js
